*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row a:not(.gourmet){
display: block;
text-decoration:none;
float: right;
text-align: center;
padding: 14px;
color:black;
text-transform: capitalize;
}   
.gourmet{
    display: block;
    text-decoration:none;
    float: left;
    text-align: center;
    padding: 14px;
    color:black;
    text-transform: capitalize;
}
.row a:hover{
    background-color:#ddde;
}
.row::after{
    content: "";
    clear: both;
    display:table;
}
.firstSection{
    position: relative;
    height: 500px;
    background:url("images/first.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.firstSection p{
    position: absolute;
    bottom: 20px;
    color: rgb(60, 59, 59);
    opacity: 0.8;
    left: 30px;
    letter-spacing: 3px;
}
.right-side{
    width: 50%;
    float: left;
    margin-top: 6px;
    text-align: center;
    padding:5px;
    line-height:1.6;
}
.left-side{
    float: left;
    margin-top: 10px;
    width: 40%;
    margin-left:10px;
}
span:not(.footer){
    background-color:#c4c6c9;
    text-align: center;
    display: inline-block;
    padding:1px 5px;    
}
.left-side img{
    width: 300px;
    height: 450px;
}
hr{
    margin: 5px 0;
    background-color:#dde;
    opacity: 0.6;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.contact{
    padding:16px;
    line-height: 1.6;
    text-transform: capitalize; 
}
.contact h4{
    color: blue;
}
.contact p {
    margin:6px 0 ;
}
input{
    width: 100%;
    display: block;
    padding:10px 5px;
    margin-top: 6px;
    border: none;
    border-bottom: 1PX SOLID #dede;
}
button{
    display:block;
    padding:5px 20px;
    background-color:rgb(243, 243, 243);
    margin-top:10px;
    border:none;
    text-transform: uppercase;
}
button:hover{
    background-color:rgb(179, 175, 175);
}
footer{
    background-color:rgb(93, 90, 90);
    padding: 50px;  
    text-transform: capitalize;
    text-align: center;
  
    color: white;
}
.footer:hover{
    color:lightgreen;
}
.contact h1{
    text-align: center;
}
@media screen and (max-width: 500px){
    .row a:not(.gourmet){
        display: none;
    }
   .left-side{
    display: none;
   }
   .right-side{
    width: 100%;
   }
   .firstSection{
    width: 100%;
    height: 300px;
    background-position: center;
   }
}
